body {
    background-color:black;
}

table,
tr {
    border: none;
    border-spacing: 0px;
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

td {
    display:flex;
    flex-direction:column;
}

input {
    padding: 0;
    margin: 0px;
    width:30px;
    height:30px;
    background-color:red;
}